<h3 class="text-dark">Nu aveţi încă un cont?</h3>
<p class="text-dark">Completați formularul și înregistrați-vă</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('fullname') && isTouched('fullname'),
                        'is-valid' : !hasErrors('fullname') && isTouched('fullname')}"
            class="form-control form-control-lg"
            formControlName="fullname"
            placeholder="Numele complet">

        <div *ngIf="hasError('fullname', 'minlength') || hasError('fullname', 'maxlength')" class="invalid-feedback">
            Intre 10 - 30 caractere
        </div>
    </div>

    <div class="form-group">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('username') && isTouched('username'),
                        'is-valid' : !hasErrors('username') && isTouched('username')}"
            class="form-control form-control-lg"
            formControlName="username"
            placeholder="Nume utilizator">

        <div *ngIf="hasError('username', 'required')" class="invalid-feedback">
            Numele de  utilizator este obligatoriu
        </div>

        <div *ngIf="hasError('username', 'minlength') || hasError('username', 'maxlength')" class="invalid-feedback">
        </div>
    </div>

    <div class="form-group">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('email') && isTouched('email'),
                        'is-valid' : !hasErrors('email') && isTouched('email')}"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="Email">

        <div *ngIf="hasError('email', 'required')" class="invalid-feedback">
            Email-ul este obligatoriu
        </div>

        <div *ngIf="hasError('email', 'pattern')" class="invalid-feedback">
            Email-ul este invalid
        </div>  

        <div *ngIf="hasError('email', 'maxlength')" class="invalid-feedback">
            Maxim 30 caractere
        </div>
    </div>

    <div class="form-group">
        <input
            type="password"
            [ngClass]="{'is-invalid' : hasErrors('password') && isTouched('password'),
                        'is-valid' : !hasErrors('password') && isTouched('password')}"
            class="form-control form-control-lg"
            formControlName="password"
            placeholder="Parola">

        <div *ngIf="hasError('password', 'required')" class="invalid-feedback">
            Parola e obligatorie
        </div>

        <div *ngIf="hasError('password', 'minlength') || hasError('password', 'maxlength')" class="invalid-feedback">
            Intre 10 - 50 caractere
        </div>
    </div>

    <div class="form-group">
        <input
            type="password"
            [ngClass]="{'is-invalid' : 
                        (formHasError('isMatching') || hasErrors('confirmPassword')) 
                        && isTouched('confirmPassword'),
                        'is-valid' : 
                        (!formHasError('isMatching') && !hasErrors('confirmPassword'))
                        && isTouched('confirmPassword')}"
            class="form-control form-control-lg"
            formControlName="confirmPassword"
            placeholder="Confirmă parola">

        <div *ngIf="hasError('confirmPassword', 'required')" class="invalid-feedback">
            Confirmarea parolei e obligatorie
        </div>

        <div *ngIf="formHasError('isMatching')" class="invalid-feedback">
            Parolele nu coincid
        </div>
    </div>

    <button class="btn btn-block mb-3 bg-primary text-light"
    [disabled]="!registerForm.valid">Inregistrare</button>

</form>
