<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block mt-5">
                    
                    <h1 class="display-4 text-light">
                        Începeți să scrieți <strong>primul Dumneavoastră blog</strong> şi <strong> publicaţi-l</strong>
                    </h1>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Înregistrarea simplă. Va dura doar câteva secunde pentru a o finaliza și a vă autentifica
                             imediat
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Începeți să interacționați cu alți concetățeni și să construiți conexiuni pentru a
                             publica mai multe bloguri
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Veţi fi prezent în secțiunea noastră cu cele mai discutate bloguri când articolele scrise primesc
                            multă atenție
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-5">
                    <div class="card bg-muted text-center card-form">
                        <div class="card-body">

                            <app-register></app-register>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<app-famous-blogs></app-famous-blogs>

